body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inter: Inter;
  --font-roboto: Roboto;

  /* font sizes */
  --font-size-mid: 17px;
  --font-size-mid-4: 17.4px;
  --font-size-base-9: 16.9px;
  --font-size-4xl-1: 23.1px;
  --font-size-lg: 18px;
  --font-size-5xs: 8px;
  --font-size-mid-3: 17.3px;
  --font-size-mid-6: 17.6px;
  --font-size-mid-2: 17.2px;
  --font-size-3xl-7: 22.7px;
  --font-size-4xl-8: 23.8px;
  --font-size-lgi: 19px;
  --font-size-27xl-5: 46.5px;
  --font-size-9xl: 28px;
  --font-size-18xl: 37px;
  --font-size-base-3: 15.3px;
  --font-size-4xl-6: 23.6px;
  --font-size-base-1: 15.1px;
  --font-size-lgi-5: 19.5px;

  /* Colors */
  --color-white: #fff;
  --color-gray-100: #001c30;
  --color-whitesmoke-100: #f7fafc;
  --color-whitesmoke-200: rgba(242, 242, 242, 0.1);
  --color-whitesmoke-300: rgba(242, 242, 242, 0.02);
  --color-aliceblue: #edf2f7;
  --color-deepskyblue: #00b1ff;
  --color-dimgray: #555;
  --color-black: #000;
  --color-darkslategray-100: #404040;
  --color-darkslategray-200: #303030;
  --color-crimson: #e53e3e;

  /* Gaps */
  --gap-mid-6: 17.6px;
  --gap-3xs: 10px;
  --gap-lg: 18px;
  --gap-13xl-8: 32.8px;
  --gap-base: 16px;
  --gap-2xl-8: 21.8px;
  --gap-11xs: 2px;
  --gap-13xl: 32px;
  --gap-4xs-3: 8.3px;
  --gap-4xs-8: 8.8px;
  --gap-xl: 20px;
  --gap-sm-8: 13.8px;
  --gap-7xl: 26px;

  /* Paddings */
  --padding-75xl: 94px;
  --padding-12xs: 1px;
  --padding-11xs: 2px;
  --padding-320xl: 339px;
  --padding-26xl: 45px;
  --padding-xl: 20px;
  --padding-65xl: 84px;
  --padding-150xl: 169px;
  --padding-16xl: 35px;
  --padding-11xs-2: 1.2px;
  --padding-4xs: 9px;
  --padding-61xl: 80px;
  --padding-31xl: 50px;
  --padding-6xl: 25px;
  --padding-xs: 12px;
  --padding-2xl: 21px;
  --padding-21xl: 40px;
  --padding-33xl: 52px;
  --padding-21xl-4: 40.4px;
  --padding-10xl: 29px;
  --padding-115xl: 134px;
  --padding-11xl: 30px;
  --padding-11xl-1: 30.1px;
  --padding-15xl: 34px;
  --padding-31xl-4: 50.4px;
  --padding-7xl: 26px;

  /* Border radiuses */
  --br-10xs: 3px;
  --br-6xs: 7px;
  --br-31xl: 50px;
  --br-7xs: 6px;
}
